SCRAPER_USUARIO=tu_usuario
SCRAPER_PASSWORD=tu_contraseña
SCRAPER_URL_LOGIN=https://tu-sistema.com/login
SCRAPER_URL_POST_LOGIN=https://tu-sistema.com/platform
SCRAPER_URL_PEDIDOS=https://tu-sistema.com/orders
SCRAPER_URL_DETALLE=https://tu-sistema.com/orders/detail/
